trigger:
  - main

pool:
  vmImage: windows-latest # ubuntu 2404 has issues with .NET

resources:
  repositories:
    - repository: templates
      type: git
      name: some-other-project/some-other-repo
      ref: refs/heads/main

variables:
  - name: solutionFolder
    value: $(Build.SourcesDirectory)/src
  - name: solutionPattern
    value: '**/*.sln' # Usually only Patterns must be in quotes
  - name: artifactName
    value: app

steps:
  - template: .azure-pipelines/steps/build.yml@templates
    parameters:
      dotNetVersion: '9.x'
      solutionFolder: $(solutionFolder)
      solutionPattern: $(solutionPattern)
      buildConfiguration: Release
      artifactName: $(artifactName)
