trigger:
  - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: windows-latest # ubuntu 2404 has issues with .NET

variables:
  - name: solutionFolder
    value: $(Build.SourcesDirectory)/src
  - name: solutionPattern
    value: '**/*.sln' # Usually only Patterns must be in quotes
  - name: artifactName
    value: app
  - name: azureSubscription
    value: training-service-connection
  - name: azureWebAppName
    value: niklas

stages:
  - stage: BuildAndTest
    displayName: Build & Test
    jobs:
      - template: ./jobs/build.yml
        parameters:
          dotNetVersion: '9.x'
          solutionFolder: $(solutionFolder)
          solutionPattern: $(solutionPattern)
          buildConfiguration: Release
          artifactName: $(artifactName)

      - template: ./jobs/test.yml
        parameters:
          solutionFolder: $(solutionFolder)
          solutionPattern: $(solutionPattern)

  - stage: Deploy
    displayName: Deploy
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    dependsOn: BuildAndTest
    jobs:
      - template: ./jobs/deploy-environments.yml
        parameters:
          azureSubscription: $(azureSubscription)
          azureWebAppName: $(azureWebAppName)
          artifactName: $(artifactName)
