trigger:
  - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: windows-latest # ubuntu 2404 has issues with .NET

variables:
  - name: solutionFolder
    value: $(Build.SourcesDirectory)/src
  - name: solutionPattern
    value: '**/*.sln' # Usually only Patterns must be in quotes
  - name: artifactName
    value: app
  - name: azureSubscription
    value: training-service-connection
  - name: azureWebAppName
    value: niklas

stages:
  - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') }}:
      - template: ./stages/version-generate.yml

  - stage: BuildAndTest
    displayName: Build & Test
    jobs:
      - template: ./jobs/build.yml
        parameters:
          dotNetVersion: '9.x'
          solutionFolder: $(solutionFolder)
          solutionPattern: $(solutionPattern)
          buildConfiguration: Release
          artifactName: $(artifactName)

      - template: ./jobs/test.yml
        parameters:
          solutionFolder: $(solutionFolder)
          solutionPattern: $(solutionPattern)

  - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') }}:
      - stage: Deploy
        displayName: Deploy
        dependsOn:
          - VersionStage
          - BuildAndTest
        condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
        variables:
          - name: version
            value: $[stageDependencies.VersionStage.VersionJob.outputs['VersionStep.semVer']]
        jobs:
          - template: ./jobs/deploy-environments.yml
            parameters:
              azureSubscription: $(azureSubscription)
              azureWebAppName: $(azureWebAppName)
              artifactName: $(artifactName)

          - job: Tagging
            displayName: Tag Repository
            dependsOn: Deploy
            steps:
              - template: ./steps/tagging.yml
                parameters:
                  tagName: v$(version)
